.module-main-header__search,
.module-main-header__compose-icon,
.module-conversation-list__item--contact-or-conversation__content {
    display: none;
}

.gutter:hover .module-main-header__search,
.gutter:hover .module-main-header__compose-icon,
.gutter:hover .module-conversation-list__item--contact-or-conversation__content {
    display: flex;
}

.gutter {
    width: 84px;
    position: absolute;
    z-index: 2;
}

.gutter:hover {
    width: $left-pane-width;
}

.conversation-stack {
    margin-left: 84px;
}